{% extends "template/base.html" %}
{% block title %}Create Step for {{ task.name }}{% endblock %}
{% block content %}
    {% for error in errors %}
        <p>{{ error }}</p>
    {% endfor %}

    <form method="post" class="grid gap-4 grid-cols-3">
        {% csrf_token %}
        <input name="task-step-task" value="{{ task.id }}" type="hidden">
        <input name="task-step-status" value="OP" type="hidden">

        <div class="col-span-2 grid gap-2 grid-cols-1">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Name</span>
                </label>
                <input type="text" placeholder="Name"
                       name="task-step-name" class="input input-bordered">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">Comment</span>
                </label>
                <textarea name="task-step-comment" rows="8" class="textarea h-24 textarea-bordered"
                          placeholder="Comment"></textarea>
            </div>


            <div class="form-control">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>

        <div class="col-span-1 flex flex-col">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Start Time</span>
                </label>
                <input type="datetime-local" placeholder="Start Time" name="task-step-start_time" class="input input-bordered">
            </div>
        </div>
    </form>
{% endblock %}