{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <script type="module" src="{% static "app/component.bundle.js" %}"></script>
</head>
<body>
<div>
    {% include "template/header.html" %}

    <header class="shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900">
                {% block content %} {% endblock %}
            </h1>
        </div>
    </header>

</div>
</body>
</html>