{% extends "template/base.html" %}
{% block title %}
    <div class="flex flex-row w-full gap-4">

        <h1 class="text-3xl font-bold text-gray-900">
            {{ task.name }}
        </h1>

        <a class="btn btn-primary" href="{% url 'task-step-create' task.id %}">Add Step</a>
        <a class="btn btn-success" href="{% url 'project-view' task.project_id %}">Back to {{ task.project.name }}</a>
    </div>

{% endblock %}

{% block content %}
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for step in steps %}
                <tr>
                    <td>
                        <a href="{% url 'step-view' step.id %}">
                            {{ step.name }}
                        </a>
                    </td>
                    <td>{{ step.start_time }}</td>
                    <td>{{ step.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}