{% extends "template/base.html" %}

{% block title %}
    <a class="btn btn-primary" href="{% url 'project-create' %}">Add Project</a>
{% endblock %}

{% block content %}
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{% url 'project-view' project.id %}">
                            {{ project.name }}
                        </a>
                    </td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}