{% extends "template/base.html" %}
{% block title %}
    <div class="flex flex-row w-full gap-4">

        <h1 class="text-3xl font-bold text-gray-900">
            {{ project.name }}
        </h1>

        <a class="btn btn-primary" href="{% url 'task-create' project.id %}">Create Task</a>
    </div>

{% endblock %}

{% block content %}
    {{ project.name }}


    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>Name</th>
                <th>Expected Hours</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{% url 'project-view' task.id %}">
                            {{ task.name }}
                        </a>
                    </td>
                    <td> {{ task.actual_hours }}/{{ task.expected_hours }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}